<p id="notice"></p> #投稿されました表示する

<p>
    <storong>Title:</strong><%= @book.title %>
</p>

<p>
    <storong>Body:</strong><%= @book.body %>
</p>

<%= link_to "Edit",edit_book_path(@book) %>
<%= link_to "Back",books_path %>



